.layout {
  display: flex;
  height: 100vh;
}

.mainContent {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  overflow: hidden;
  padding-left: 160px;
}
